
unsorted_data/

transcriptomics/unsorted/


*.fasta

*.fastq

*.tsv

*.blatout

*.fna

refactored_pipeline/blat_pp_test_data/

refactored_pipeline/arg_list

refactored_pipeline/blat_pp_test_data\.rar
