
*.fastq

refactored_pipeline/blat_pp_test_data/

*.rar

*.py~HEAD

*.py~sort_reads_refactor

*.pyc

*.odg#

refactored_pipeline/docker_image/dump\.txt

prototypes/post-run-analysis/taxa_rpk_amalgam/samsa2/nodes\.dmp

prototypes/post-run-analysis/taxa_rpk_amalgam/samsa2/names\.dmp

prototypes/post-run-analysis/taxa_rpk_amalgam/samsa2/taxa_family_finder\.py

*.dmp
